<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!!</h1>
        <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
            <li class="orders__item">
                <h1>Order Number: #<%= order._id %></h1>
                <ul class="orders__products">
                    <% order.products.forEach(product => { %>
                    <li class="orders__products-item"><%= product.product.title %> (<%= product.quantity %>)</li>
                    <% }); %>
                </ul>
                <h2>Order Total: $<%= order.total %></h2>
                <a class="orders__invoice" href="/orders/<%= order._id %>">Get Invoice</a>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>